@import '@/styles/components/_vars.scss';
@import '@/styles/components/_mixins.scss';
// @import '@/fonts/_fonts.scss';

.partners {
  
  font-size: 25px;
  padding-top: 100px;

  // Media
  @include xxl{
    // padding-top: 100px;
  }
  @include lg{
    // padding-top: 50px;
  }
  @include md {
    font-size: 15px;
    line-height: 10px;
  }

  .container {
    .text{
      line-height: 30px;
      // Media
      // @include md {
      //   line-height: 20px;
      // }
      font-family: 'Circe', sans-serif;
      font-weight: 400;
     
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 55px 0;
      font-family: 'Circe', sans-serif;
      font-weight: 400;
      // Media
      @include xxl{
        padding: 45px 0;
      }
      @include lg{
        flex-wrap: wrap;
      }
      @include md{
        padding: 20px 0;
      }
      
      .content{
        line-height: 30px;
        padding-right: 140px;
        // Media
        @include lg{
          order: 2;
          padding: 20px 0 0 0;
        }
      }
      
      // Wrapper 1 ↓
      &:nth-child(2){
        padding: 100px 0 50px;
        // Media
        @include lg{
          padding: 50px 0;
        }
        @include md {
          padding: 20px 0;
        }
        
        .content{
          display: flex;
          padding: 0 0 0 140px;
          // Media
          @include lg{
            order: -1;
            padding: 0 0 20px 0;
          }
        }
      }
      
      .image {
        img {
          object-fit: cover;
          width: 560px;
          height: 350px;
          // Media
          @include xxl {
            width: 500px;
            height: 300px;
          }
          @include md {
            width: 100%;
            max-width: 320px;
            height: 200px;
          }
        }
      }
    }
  }
}