<template>
  <section class="catalogs">
    <the-title :sub="subtitle" :title="title" />
    <div class="catalogs-wrapper">
      <catalog-card
        v-for="card in catalog_array"
        :key="card.title"
        :title="card.title"
        :sub="card.subtitle"
        :colorDiv="card.colorDiv"
        :innerColor="card.innerColor"
        :link="card.link"
      />
    </div>
    <div class="wrapper">
      <card
      v-for="pro in product"
      :key="pro.title"
      :img="pro.img"
      :title="pro.title"
      :subtitle="pro.text"
      :price="pro.price"
      @push="$router.push({ name: 'ProductInfo', params: { postId: pro.id } })"
      />
    </div>
  </section>
</template>

<script>
import TheTitle from "../../../layouts/TheTitle.vue";
import CatalogCard from "../components/CatalogCard.vue";
import catalog_array from "../catalog_array.js";
import product from '../../../frags/product.js'
import card from '../../../layouts/Card.vue'
export default {
  components: { TheTitle, CatalogCard, card },
  data() {
    return {
      catalog_array: catalog_array,
      subtitle: "Main Menu / Catalog",
      title: "Product catalog",
      product:product
    };
  },
};
</script>

<style lang="scss">
@import "../../../styles/components/_vars.scss";
@import "../../../styles/components/_mixins.scss";

.catalogs {
  padding: $padding_top 0 60px;

  @include lg {
    padding: 130px 0 40px;
  }
  
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
  }

  .catalogs-wrapper {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 35px;

    @include lg {
      gap: 20px;
    }
  }
}
</style>
