<template>
  <div class="catalog-card" @click="$router.push(link)">
    <div class="color-div" :style="[colorDiv]">
      <div class="inner-color" :style="[innerColor]"></div>
    </div>
    <h3 class="title">{{ title }}</h3>
    <p class="subtitle">{{ sub }}</p>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: () => "Title",
    },
    sub: {
      type: String,
      default: () => "Subtitle",
    },
    colorDiv: {
      type: Object,
      default: () => {},
    },
    innerColor: {
      type: Object,
      default: () => {},
    },
    link: {
      type: String,
      default: () => "/",
    },
  },
};
</script>

<style lang="scss">
@import "../../../styles/components/_vars.scss";
@import "../../../styles/components/_mixins.scss";

.catalog-card {
  padding: 40px 30px;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  color: $black;
  height: 100%;
  width: 100%;
  max-width: 380px;
  max-height: 250px;
  cursor: pointer;
  background-color: white;
  transition: 0.3s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }

  @include md {
    max-height: 100%;
    padding: 20px 25px;
  }

  .color-div {
    min-width: 64px;
    min-height: 64px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
      min-width: 54px;
      min-height: 54px;
    }

    .inner-color {
      width: 40px;
      height: 40px;
      border-radius: 50%;

      @include md {
        width: 30px;
        height: 30px;
      }
    }
  }

  .title {
    font-size: 25px;
    line-height: 30px;
    width: 100%;
  }

  .subtitle {
    font-family: "Circe";
    font-weight: 400;
    line-height: 27px;
  }
}
</style>
