<template>
  <section class="partners">
    <div class="container">
      <TheTitle :sub="subtitle" :title="title" />

      <div class="wrapper">
        <div class="image">
          <img src="@/images/sections/Mask Group.png" alt="#" />
        </div>
        <p class="content">{{ content }}</p>
      </div>
      <p class="text">{{ text }}</p>
      <div class="wrapper">
        <p class="content">{{ content }}</p>
        <div class="image">
          <img src="@/images/sections/Mask Group.png" alt="#" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import TheTitle from "../../../layouts/TheTitle.vue";

export default {
  components: { TheTitle },
  data() {
    return {
      subtitle: "Main Menu / Partners",
      title: "Partners",
      content: `Our company’s main goal is supplying the best to our customers. 
      With this goal our company has been established in 2019 by a group of professionals and surgeons. One of worlds economic hubs,  London has been chosen to be our head office location. In a short time, we have gathered marketing sales teams in Tashkent(Uzbekistan) and Shymkent(Kazakhstan). `,
      text: `In 2020, we have opened our representative offices. In the same year, U.S.IOL has signed partnership contract, meanwhile, Labtronics has become our partner company. Meanwhile, we have signed partnership agreements with a total of 45 public and private clinics, 3 opticians in Uzbekistan and 18 in Kazakhstan. In 2021, a few European and American distributor companies has been merged to our country, giving the opportunity to get in touch with our prospective companies directly.`,
    };
  },
};
</script>

<style lang="scss">
@import "../styles/partners_content.scss";
</style>