<template>
  <section class="brands">
    <div class="container">
      <TheTitle :sub="subtitle" :title="title"/>
      
      <div class="wrap">
        <!-- <img :src="img.img" alt=""> -->
        <img src="../../../images/brands/b2.png" alt="#">
        <img src="../../../images/brands/b3.png" alt="#">
        <img src="../../../images/brands/b1.png" alt="#">
        <img src="../../../images/brands/b4.png" alt="#">
        <img src="../../../images/brands/b3.png" alt="#">
        <img src="../../../images/brands/b2.png" alt="#">
        <img src="../../../images/brands/b4.png" alt="#">
        <img src="../../../images/brands/b1.png" alt="#">
        <img src="../../../images/brands/b4.png" alt="#">
        <img src="../../../images/brands/b3.png" alt="#">
        <img src="../../../images/brands/b1.png" alt="#">
        <img src="../../../images/brands/b2.png" alt="#">
      </div>
    </div>
  </section>
</template>

<script>
import TheTitle from '../../../layouts/TheTitle.vue'
export default {
  components: { TheTitle },
data() {
  return {
    subtitle: 'Partners',
    title: 'Our long-term friends and partners',
    image_array: [{
      img: '@/images/brands/b1.png',
      // img: '@/images/brands/b2.png',
    }]
  }
},
}
</script>

<style lang="scss">
@import '../styles/partner_photo.scss';
</style>