<template>
  <section class="form">
    <div class="container">
      <TheTitle :sub="subtitle" :title="title"/>
      
      <form @click.prevent class="form">
        <input class="input" type="email" placeholder="Enter your Email ...">
        <input class="input" type="text" placeholder="Enter your Phone number">
        <textarea class="input" placeholder="Enter your Comments"></textarea>
        <div class="btns">
          <ul class="socials">
            <li v-for="social in socials" :key="social.icon">
              <a :href="social.link"><i :class="social.icon"></i></a>
            </li>
          </ul>
          <TheButton>Send</TheButton>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
import TheTitle from "../../../layouts/TheTitle.vue";
import social_array from "../../../frags/social_array.js";
import TheButton from "../../../layouts/TheButton.vue";

export default {
  components: { TheTitle, TheButton },
  data() {
    return {
      socials: social_array,
      subtitle: "For new partners",
      title: "LEAVE A REQUEST",
    };
  },
};
</script>

<style lang="scss">
@import "../styles/partner_form.scss";
</style>