<template>
  <section>
    <Info />
    <Content />
  </section>
</template>

<script>
import Info from './section/info.vue'
import Content from './section/content.vue'
export default {
  components: { Info, Content }
}
</script>