<template>
  <section class="home-partners">
    <div class="container">
      <!-- <h1>{{ partners_list }}</h1> -->
      <TheTitle :sub="sub" :title="title" />
      <div class="slider">
        <swiper :options="swiperOptions">
          <swiper-slide v-for="img in images_array" :key="img">
            <img :src="img" alt="brands" />
          </swiper-slide>
        </swiper>
      </div>
    </div>
  </section>
</template>

<script>
import TheTitle from "@/layouts/TheTitle.vue";
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
// import { mapActions, mapGetters, mapState } from "vuex";

import "swiper/css/swiper.css";

export default {
  components: { TheTitle, Swiper, SwiperSlide },
  data() {
    return {
      count: 1,
      sub: "Partners",
      title: "Our Partners",
      swiperOptions: {
        slidesPerView: 4,
        loop: true,
				breakpoints: {
					1680: {
						slidesPerView: 4
					},
					1150: {
						slidesPerView: 3
					},
          970: {
            slidesPerView: 2
          },
          400: {
            slidesPerView: 1
          },
          200: {
            slidesPerView: 1
          }
				}
      },
      images_array: [
        require("@/images/brands/b1.png"),
        require("@/images/brands/b2.png"),
        require("@/images/brands/b3.png"),
        require("@/images/brands/b4.png"),
      ],
    };
  },
  methods: {
    // ...mapActions(["getPartners"]),
  },
  computed: {
    // ...mapGetters(["partners_list"]),
  },
  mounted() {
    // this.getPartners();
  },
};
</script>

<style lang="scss" scoped>
@import "../styles/home-partner.scss";
</style>