<template>
  <section class="home-main">
    <div class="container">
      <ContentWrapper>
        <h3 class="subtitle">{{ subtitle }}</h3>
        <h1 class="title">{{ title }}</h1>
        <p class="text">
          {{ text }}
        </p>
        <div class="buttons">
          <TheButton>Get started</TheButton>
          <TheButton :light="true">Catalog</TheButton>
        </div>
      </ContentWrapper>

      <div class="banner">
        <img :src="banner_image" alt="image" />
      </div>
      <div class="home-socials">
				<a 
					v-for="sci in social_array"
					:key="sci.icon"
					:href="sci.link" 
					class="sci-link"
				>
					<i :class="sci.icon"></i>
				</a>
			</div>
    </div>
  </section>
</template>

<script>
import TheButton from "../../../layouts/TheButton.vue";
import ContentWrapper from "../components/_content-wrapper.vue";
import social_array from "@/frags/social_array.js";

export default {
  components: { TheButton, ContentWrapper },
	data() {
		return {
			subtitle: 'Get Started',
			title: 'Get Started & Work with Us.',
			text: `When, while lovely valley teems with vapour around meand meridiansun
          strikes the upper impenetrable .foliage of my trees, and but a
          thousand. unknown plants are noticed by when I hear the buzz of the
          little world among the stalks, and grow familiar with the countless
          indescribable forms of the insects and flies, then I feel the presence
          of the Almighty.`,
			banner_image: require('@/images/sections/main.jpg'),
			social_array: social_array,
		}
	},
};
</script>

<style lang="scss" scoped>
@import "../styles/main-section.scss";
</style>