<template>
  <section class="show-more">
      <div class="container">
          <ContentWrapper>

              <h3 class="subtitle">{{ subtitle }}</h3>
              <h1 class="title">{{ title }}</h1>

              <p class="text">{{ text }}</p>

              <div class="buttons">
                  <TheButton> Show more ...</TheButton>
              </div>
          </ContentWrapper>

          <div class="banner">
              <div class="item">
                  <img :src="img_banner" alt="image" class="img-ban">
              </div>
              <div class="item">
                  <img :src="img_banner2" alt="image" class="img-ban2">
              </div>
          </div>
      </div>
  </section>
</template>

<script>
import TheButton from '../../../layouts/TheButton.vue'
import ContentWrapper from '../components/_content-wrapper.vue'
export default {
  components: { ContentWrapper, TheButton },
  data() {
      return {
        subtitle: 'Why  choose us',
        title: `An Exceptionally Unique Experience Tailored To You `,
        text: `We are idea generators, goal seekers, challenge-thirsty professionals, creators of unique Internet projects. We deliver unconventional solutions
        each project is a meaningful adventure ,
        in which we become partners with our clients, on the road to perfection. `,
        img_banner: require('../../../images/sections/img-1.jpg'),
        img_banner2: require('../../../images/sections/img-2.jpg'),
      }
  }
}
</script>

<style lang="scss">
@import '../../../styles/components/_vars.scss';
@import '../../../styles/components/_mixins.scss';
 .show-more {
     margin-top: 120px;
    .container {
        display: flex;
        // Media
        @include lg {
             display: block;   
        }
        @include md {
            margin-bottom: 50px;
        }
        .banner {
            margin-left: 56px;
            display: flex;
            flex-direction: column;
            max-width: 800px;
            // Mediagit remo
            @include xxl {
                width: 700px;
            }
            @include lg {
                flex-direction: initial;
                display: flex;
                justify-content: space-evenly;
                margin-left: 0;
                margin-bottom: 20px;
            }
            @include xxl {
                width: 700px;
            }
            @include md {
                display: none;
            }
            
            .item{
                width: 100%;
                max-width: 750px;
                height: 300px;
                overflow: hidden;
                margin-top: 15px;
                transform: translateY(-100px);
                // Media
                @include xl {
                   height: 250px;
                }
                @include lg {
                   transform: translateY(0);
                }

                img{
                    // Media
                    @include lg {
                        height: 250px;
                    }
                }

                .img-ban {
                   width: 95%;
                   margin-left: 10px;
                   height: 100%;
                   object-fit: cover;
                   border-radius: 8px;
                }
                .img-ban2{
                   width: 100%;
                   height: 100%;
                   object-fit: cover;
                   border-radius: 8px;
                   margin-top: 20px;
                   //    Media
                    @include lg {
                        margin-top: 0;
                    }
                }
            }
        }
    }
 }
</style>