<template>
  <section class="testimonial">
      <div class="container">
          <h3 class="subtitle">{{ subtitle }}</h3>
          <h1 class="title">{{ title }}</h1>

          <div class="user-blog">
              <div 
              class="item"
              :class="{ active: idx === is_active }"
              @click="is_active = idx"
              v-for="( user, idx) in user_array" 
              :key="user.clinics" >
                  <img :src="user.img" alt="image">

                  <div class="blog">
                        <p class="text">{{ user.text }}</p>

                        <h3 class="name">{{ user.name }}</h3>
                        <h4 class="clinic">{{ user.clinics }}</h4>
                  </div>
              </div>
          </div>
      </div>
  </section>
</template>

<script>
import user_array from '../components/user_array.js'
export default {
    data() {
        return {
            is_active: 0,
            subtitle: 'Testimonial',
            title: 'We Care About Our Customers Experience Too',
            user_array: user_array
        }
    }
}
</script>

<style lang="scss">
@import '../../../styles/components/_vars.scss';
@import '../../../styles/components/_mixins.scss';

  .testimonial {
    background: #081420;
    .container {
        margin-bottom: 90px;
        padding: 110px 0 150px;
        .subtitle {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 25px;
            color: $brand_color;
            text-align: center;
            // Media
            @include sm {
                font-size: 20px;
            }
        }

        .title {
            max-width: 635px;
            width: 100%;
            margin: 12px auto 140px;
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 40px;
            color: $white;
            text-align: center;
            // Media
            @include sm {
                font-size: 30px;
                margin-bottom:100px;
                max-width: 350px;
            }
        }

        .user-blog {
            display: flex;
            gap: 40px;
            // Media
            @include lg {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                gap: 40px 10px;
            }
            .item {
                max-width: 520px;
                width: 100%;
                height: 300px;
                background: #192431;
                border-radius: 10px;
                cursor: pointer;
                // Media
                @include xxl{
                    max-width: 355px;
                    height: 270px;
                }
                @include md {
                    max-width: 290px;
                }
                @include xs {
                    max-width: 230px;
                }
                
                &.active {
                    background: $brand_color;
                    box-shadow: -10px 30px 60px rgba(29, 109, 195, 0.25);
                    transform: translateY(-30px);
                    transition: transform 0.5s;
                }

                img{
                    max-width: 200px;
                    width: 100%;
                    height: 200px;
                    transform: translateY(-45%);
                    // Media
                    @include xxl{
                        max-width: 100px;
                        height: 100px;
                        width: 100%;
                    }
                }

                .blog{
                    max-width: 410px;
                    width: 100%;
                    height: 110px;
                    margin: -100px auto;
                    // Media
                    @include xxl{
                        max-width: 300px;
                        margin: -45px auto;
                    }
                    @include xl {
                        max-width: 260px;
                    }


                    .text {
                        font-family: 'Circe';
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        color: $white;
                        // Media
                        @include xxl{
                            font-size: 16px;
                        }
                        @include md{
                            font-size: 14px;
                        }
                        @include media(250px){
                            font-size: 12px;
                            line-height: 23px;
                        }
                    }

                    .name {
                        font-family: 'Circe', sans-serif;
                        font-size: 18px;
                        font-weight: 600;
                        color: $white;
                        margin-top: 30px;
                        // Media
                        @include xl {
                        font-size: 17px;
                        font-weight: 500;
                        }
                    }

                    .clinic {
                       font-family: 'Circe', serif;
                       font-size: 18px;
                       color: $white;
                       font-weight: 400;
                       margin-top: 10px;
                       // Media
                        @include xl {
                        font-size: 17px;
                        }
                    }
                }    
            }
        }
    }
  }
</style>