<template>
<section class="partners">
	<PartnersContent />
	<PartnersPhoto />
	<PartnersForm />
</section>
</template>

<script>
import PartnersContent from './sections/partners_content.vue'
import PartnersPhoto from './sections/partners_photo.vue'
import PartnersForm from './sections/partners_form.vue'

export default {
  components: { PartnersContent, PartnersPhoto, PartnersForm },
}
</script>