@import '../../../styles/components/_vars.scss';
@import '../../../styles/components/_mixins.scss';

.info {
  .container {
    background: $white;
    width: 1640px;
    .block {
      transition: 0.5s;
      .content-btn {
        margin-left: 100px;
        button {
          width: 300px;
          height: 55px;
          border-radius: 10px;
          background: #E6E6E6;
          font-size: 16px;
          font-weight: 800;
          color: $brand_color;
          transform: translateY(-50%);
          margin: 0 5px;

          &.active {
            background: $brand_color;
            color: $white;
          }
        }
      }

      .content-desc {
        padding: 55px 180px 70px 100px;
        margin-bottom: 60px;
        background: $white;
        transition: 0.5s;
        
        .contentP{
          font-size: 18px;
          font-weight: 400;
          font-family: Circe;
          line-height: 27px;
        }
      }
    }
  }
}