@import '../../../styles/components/_vars.scss';
@import '../../../styles/components/_mixins.scss';

.product_info {
  margin: 200px 0 50px;

  .container {
    .p{
      text-align: center;
      font-size: 20px;
      margin: 20px 0 50px;
      color: $gray;
    }
    
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 120px;
      .left {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 560px;
        gap: 20px;

        .image {
          object-fit: cover;
          width: 100px;
          height: 100px;

          // padding-bottom: 20px;

          &.active {
            width: 100%;
            max-width: 560px;
            height: 100%;
            max-height: 560px;
          }
        }
      }
      
      .right{
        width: 100%;
        max-width: 650px;
        text-align: left;
        .ptitle{
          font-size: 40px;
          font-weight: 600;
        }
        
        .psubtitle{
          font-size: 14px;
          color: $gray;
          margin: 15px 0;
          text-align: left;
        }
        .price{
          display: flex;
          flex-direction: column;
          .old-price{
            font-size: 18px;
            text-decoration: line-through;
            color: $gray;
            padding: 18px 0 10px;
          }
          .new-price{
            font-size: 65px;
            color: $brand_color;
            padding: 10px 0 15px;
          }
        }
        .desc{
          font-size: 18px;
          line-height: 27px;
          padding: 20px 0 40px;
        }
        
        .btns{
          display: flex;
          gap: 55px;
        }
      }
    }
  }
}