<template>
  <div class="container">
    <CatalogSection />
  </div>
</template>

<script>
import CatalogSection from "./sections/CatalogSection.vue";
export default {
  components: { CatalogSection },
};
</script>