<template>
	<section class="blog-section">
		<div class="container">
			<Title title="Blog" sub="Blog/products"/>
			<div class="wrapper">
				<Blogcard
				v-for="card in array"
				:key="card"
				:img="card.img"
				:data="card.data"
				:text="card.title"
				/>
			</div>
		</div>
	</section>
</template>

<script>
import Title from '../../layouts/TheTitle.vue'
import Blogcard from  '../../layouts/Blog-card.vue'
export default {
	components:{Title, Blogcard},
	data(){
		return{
			array:[
				{
					img:require('../../images/blog/img1.png'),
					data:'April 1, 2020',
					title:'The cardiologist told how to protect yourself from blood clots in the heat'
				},
				{
					img:require('../../images/blog/img2.png'),
					data:'April 1, 2020',
					title:'The cardiologist told how to protect yourself from blood clots in the heat'
				},
				{
					img:require('../../images/blog/img3.png'),
					data:'April 1, 2020',
					title:'The cardiologist told how to protect yourself from blood clots in the heat'
				},
				{
					img:require('../../images/blog/img1.png'),
					data:'April 1, 2020',
					title:'The cardiologist told how to protect yourself from blood clots in the heat'
				},
				{
					img:require('../../images/blog/img2.png'),
					data:'April 1, 2020',
					title:'The cardiologist told how to protect yourself from blood clots in the heat'
				},
				{
					img:require('../../images/blog/img3.png'),
					data:'April 1, 2020',
					title:'The cardiologist told how to protect yourself from blood clots in the heat'
				},
				{
					img:require('../../images/blog/img1.png'),
					data:'April 1, 2020',
					title:'The cardiologist told how to protect yourself from blood clots in the heat'
				},
				{
					img:require('../../images/blog/img2.png'),
					data:'April 1, 2020',
					title:'The cardiologist told how to protect yourself from blood clots in the heat'
				},
				{
					img:require('../../images/blog/img3.png'),
					data:'April 1, 2020',
					title:'The cardiologist told how to protect yourself from blood clots in the heat'
				},
			]
		}
	}
}
</script>

<style lang="scss">
@import '../../styles/components/_vars.scss';
@import '../../styles/components/_mixins.scss';

.blog-section{
	// height: 50vh;
	padding-top: $padding_top;
	
	.container{
		.wrapper{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 30px 30px;
			padding: 80px 0;
		}
	}
}
</style>