<template>
  <section class="info">
    <div class="container">
      <div class="block">
        <div class="content-btn">
          <button v-for="(btns, idx) in btn_array"
          :key="btns.btn"
          :class="{active: activeBtn === idx}"
          @click="activeBtn = idx">{{btns.btn}}</button>
        </div>
        
        <div class="content-desc">
          <p class="contentP">{{ btn_array[activeBtn].desc }}</p> 
        </div>  
      </div>
  </div>    
  </section>
</template>

<script>
export default {
  data() {
    return {
      
      btn_array: [
        {
          btn: "Описание",
          desc: `M-DIAGNOSTIC is a model of a laboratory centrifuge intended primarily for broadly understood diagnostics in both human and veterinary medicine laboratories. This centrifuge is suitable for performing routine tests: complete morphology, biochemistry, coagulation tests, urine, hemato­crit, parasitology, hematology, cancer diagnostics (CYTO), se­men analysis and more. Due to the possibility of centrifugation, including 15 and 50 ml Falcon tubes and 100 ml tubes, it can also be used in laboratories in other fields. M-Diagnostic offers a wide range of accessories (angular and horizontal rotors), its maximum capacity is up to 500ml with speeds up to (RPM) 6,000 Centrifuge is produced in the ISO management system. It is safe for the patient, User, samples and environment – it has the CE declaration.M-DIAGNOSTIC is a model of a laboratory centrifuge intended primarily for broadly understood diagnostics in both human and veterinary medicine laboratories. This centrifuge is suitable for performing routine tests: complete morphology, biochemistry, coagulation tests, urine, hemato­crit, parasitology, hematology, cancer diagnostics (CYTO), se­men analysis and more. Due to the possibility of centrifugation, including 15 and 50 ml Falcon tubes and 100 ml tubes, it can also be used in laboratories in other fields. M-Diagnostic offers a wide range of accessories (angular and horizontal rotors), its maximum capacity is up to 500ml with speeds up to (RPM) 6,000 Centrifuge is produced in the ISO management system. It is safe for the patient, User, samples and environment – it has the CE declaration.`
        },
        {
          btn: "Характеристика",
          desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eum, rerum velit pariatur quas possimus ab. Laborum quos quod aspernatur."
           
        }
      ],
      activeBtn: 0
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/content.scss";
</style>
