<template>
  <section class="product_info">
    <div class="container">
      <TheTitle :title="ttitle" :sub="subttitle" />
      <p class="p">Identifier number</p>

      <div class="wrapper">
        <div class="left">
          <img
            class="image active"
            :src="post.img"
            alt="img"
          />
          <img class="image" :src="post.img" alt="img" />
          <img class="image" :src="post.img" alt="img" />
          <img class="image" :src="post.img" alt="img" />
        </div>

        <div class="right">
          <h1 class="ptitle">{{ post.title }}</h1>
          <p class="psubtitle">Identifier number</p>

          <div class="price">
            <p class="old-price">700$</p>
            <p class="new-price">{{ post.price }}</p>
          </div>

          <p class="desc">{{ desc }}</p>
          <div class="btns">
            <TheButton>Отправить заявку</TheButton>
            <TheButton :light="true">Добавить в избранное</TheButton>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import TheButton from "@/layouts/TheButton.vue";
import TheTitle from "@/layouts/TheTitle.vue";
import product from "../../../frags/product.js";

export default {
  components: { TheButton, TheTitle },
  data() {
    return {
      desc: `We are idea generators, goal seekers, challenge-thirsty professionals, creators of unique Internet projects. We deliver unconventional solutions
        each project is a meaningful adventure        , in which we become partners with our clients, on the road to perfection.`,
      ttitle: "Product Info",
      subttitle: "Multi-Purpose Centrifuges",
      postId: this.$route.params.postId,
      product: product,
    };
  },
  computed: {
    post() {
      return this.product.find((post) => post.id === this.postId);
    },
  },
};
</script>

<style lang="scss">
@import "../styles/info.scss";
</style>
