<template>
  <section class="about-us">
    <div class="container">
      <TheTitle :sub="sub" :title="title" />
      <NavButton @setIndex = "setActiveIndex"/>
      <component :is="componentArray[activeBtn]" ></component>
    </div>
  </section>
</template>

<script>
import TheTitle from "@/layouts/TheTitle.vue";
import NavButton from "./components/NavButton.vue";
import History from './components/History.vue'
import Team from './components/OurTeam.vue'
import Mission from './components/Mission.vue'
export default {
  data() {
    return {
      activeBtn:0,
			title:'About us',
			sub:'Main Menu / About Us',
      cardTitle: [ "History of the company", "Our Team", "Our goal and mission"],
			componentArray:['History' , 'Team', 'Mission',	],
      
    };
  },
  provide() {
    return {
      btns: this.cardTitle,
    };
  },
  methods: {
    setActiveIndex(idx) {
      this.activeBtn = idx;
    },
  },
  components: { TheTitle, NavButton, History, Team, Mission },
};
</script>

<style lang="scss" scoped>
@import '../../styles/components/_vars.scss';
.about-us {
  min-height: 100vh;
  padding-top: $padding_top;
}
</style>