<template>
	<main>
		<Main/>
		<HomePartners />
		<Showmore/>
		<Testimonial/>
	</main>
</template>

<script>
import Main from './sections/Main'
import HomePartners from './sections/HomePartners'
import Showmore from './sections/Showmore.vue'
import Testimonial from './sections/Testimonial.vue'

export default {
	components: { Main, HomePartners, Showmore, Testimonial },
}
</script>

<style lang="scss">

</style>