<template>
  <div class="card" v-bind:style="{ backgroundImage: 'url(' + img + ')' }">
    <div class="text">
      <h4 class="data">{{ data }}</h4>
      <h4 class="title">{{ text }}</h4>
    </div>
  </div>
</template>

<script>
export default {
  props:{
    img:'',
    text:{
      type:String,
      default: () => 'text '
    },
    data:{
      type:String,
      default: () => '27.04.2022'
    },
  }
}
</script>

<style lang="scss">
@import '../styles/components/_vars.scss';
@import '../styles/components/_mixins.scss';
 .card{
   padding: 0 50px;
   height: 500px;
   width: 520px;
   border-radius: 10px;
   background: $gray;
   cursor: pointer;
   transition: 0.5s;
   
   &:hover{
    box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.1);
    
    .text{
      background: $brand_color;
      color: $white;
      
      .data{
        color: $white;
      }
    }
  }
   
   .text{
     background: $white;
     border-radius: 10px;
     padding: 30px;
     font-weight: 600;
     margin-top: 350px;
     transition: 0.5s;
     
     .data{
       color: $gray;
       font-size: 12px;
       padding-bottom: 10px;
     }
     
     .title{
       font-size: 14px;
       line-height: 14px;
     }
   }
 }
</style>