<template>
  <div class="card" @click="$emit('push')">
    <img :src="img" alt="img">
    <h3 class="title">{{ title }}</h3>
    <p class="subtitle">{{ subtitle }}</p>
    <div class="box">
      <h3 class="price">{{ price }}</h3>
      <i class="fa-solid fa-bag-shopping"></i>
    </div>
  </div>
</template>

<script>
import product from '../frags/product.js'
export default {
  data(){
    return{
      product:product
    }
  },
  props:{
    img:'',
    title:{
      type:String,
      default: () => 'Title'
    },
    subtitle:{
      type:String,
      default: () => 'Subtitle'
    },
    price:{
      type:String,
      default: () => 'Price'
    }
  }
  
}
</script>

<style lang="scss" scoped>
@import '../styles/components/_vars.scss';
@import '../styles/components/_mixins.scss';
.card{
  width: 380px;
  background: $white;
  padding: 30px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
  
  &:hover{
    box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.1);
  }
  
  img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    margin: 0 auto;

  }
  
  .title{
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    margin: 20px 0;
  }
  
  .subtitle{
    font-family: 'Circe';
    color: $gray;
    font-size: 15px;
    font-weight: 400;
  }
  
  .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    
    .price{
      color: $brand_color;
      font-size: 40px;
    }
    
    i{
      color: $gray;
      font-size: 30px;
    }
  }
}
</style>