<template>
  <footer class="footer">
    <div class="for-form">
      <div class="container">
        <ContactForm />
      </div>
    </div>

    <div class="footer-content">
      <div class="container">
        <div class="item">
          <div class="logo">
            <h2>ItLabs</h2>
          </div>

          <p class="text">Copyright &copy; 2020 BioLab</p>
          <p class="text">All rights reserved.</p>

          <ul class="footer-social">
            <li v-for="social in socials" :key="social.icon">
              <a :href="social.link"><i :class="social.icon"></i></a>
            </li>
          </ul>
        </div>

        <div class="item">
          <h4 class="title">About</h4>
          <p class="text">
            We are idea generators, goal seekers, challenge-thirsty
            professionals, creators of unique Internet projects. We deliver
            unconventional solutions each project is a meaningful adventure , in
            which we become partners with our clients, on the road to
            perfection.
          </p>
        </div>

        <div class="item">
          <h4 class="title">Contact</h4>
          <p class="text">
            We are idea generators, goal seekers, challenge-thirsty
            professionals, creators of unique Internet projects. We deliver
            unconventional.
          </p>
        </div>

				<div class="item">
					<h4 class="title">Location</h4>

					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2997.916593928683!2d69.21932588556672!3d41.28891966952727!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f6dfd457bfa7c0b!2sIT%20Labs!5e0!3m2!1sru!2s!4v1646491918188!5m2!1sru!2s" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</div>
      </div>
    </div>
  </footer>
</template>

<script>
import ContactForm from "./ContactForm.vue";
import social_array from "@/frags/social_array.js";

export default {
  components: {
    ContactForm,
  },
  data() {
    return {
      socials: social_array,
    };
  },
};
</script>

<style lang="scss">
@import "./styles/footer.scss";
</style>