@import '../../styles/components/_vars.scss';
@import '../../styles/components/_mixins.scss';

.footer {
  .for-form {
    background: linear-gradient(transparent 50%, $dark 50%);
    transform: translateY(2px);
  }

  .footer-content {
    background: $dark;
    color: $white;
    padding: 80px 0;

    .container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;

      // Media
      @include xl {
        gap: 35px 20px;
      }

      .item {
        max-width: 330px;

        // Media
        @include xxl {
          max-width: 270px;
        }

        @include xl {
          max-width: 100%;
          width: calc(50% - 20px);
        }

        @include md {
          max-width: 100%;
          width: 100%;

          &:first-child {
            order: 1;
            text-align: center;

            .logo {
              margin-bottom: 25px;
            }

            .footer-social {
              justify-content: center;
              gap: 20px;
            }
          }
        }

        .logo {
          font-size: 30px;
          margin-bottom: 55px;
        }

        .title {
          font-size: 25px;
          margin-bottom: 40px;
        }

        .text {
          font-size: 18px;
          font-family: 'Circe', sans-serif;
          font-weight: 400;
          line-height: 26px;
        }

        .footer-social {
          display: flex;
          margin-top: 50px;
          gap: 30px;

          li {
            a {
              color: $white;
              font-size: 25px;

            }
          }
        }

        .map {
          width: 330px;
          height: 173px;
          background: rgba($white, $alpha: 0.05);
          border-radius: 10px;
          overflow: hidden;

          // Media
          @include xxl {
            width: 270px;
          }

          @include md {
            width: 100%;
          }

          iframe {
            width: 100%;
            height: 100%;
            border: none;
          }
        }
      }
    }
  }
}