<template>
  <div class="card" :class="active" @click="$emit('activeCard')">
    <h3 class="title">{{ title }}</h3>
    <p class="subtitle">{{ subtitle }}</p>
  </div>
</template>

<script>
export default {
  data(){
    return{
      subtitle: "When, while lovely valley teems with vapour around meand",
    }
  },
  props: {
    title: String,
    active:{},
  },
  
};
</script>

<style lang="scss" scoped>
@import "@/styles/components/_vars.scss";
@import "@/styles/components/_mixins.scss";
.card {
  max-width: 520px;
  height: 260px;
  background: $white;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  transition:0.3s;
  // Media
  @include xxl {
    padding: 0 20px;
  }
  @include xl {
    max-width: 280px;
    height: 220px;
  }
   @include lg {
    max-width: 240px;
    height: 155px;
  }
   @include sm {
    max-width: 220px;
    height: 135px;
  }
  @include media(550px) {
    max-width: 360px;
    height: 135px;
  }

  &.active {
    background: $brand_color;
    color: $white;
    box-shadow: -10px 40px 60px rgba(0, 0, 0, 0.25);
    transform: translateY(-10px);
  }

  .title {
    font-size: 25px;
    margin-bottom: 30px;
    @include xl {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  .subtitle {
    font-size: 18px;
    line-height: 25px;
    @include xl {
      font-size: 15px;
      line-height: 18px;
    }
  }
}
</style>