<template>
  <section class="history">
    <div class="container">
      <div class="wrap">
        <div class="flex">
          <img :src="img_one" alt="img_one" />
          <p class="subtitle_flex">{{ sub_one }}</p>
        </div>
        <p class="subtitle">{{ subtitle }}</p>
        <div class="flex order">
          <img :src="img_one" alt="img_one" />
          <p class="subtitle_flex">{{ sub_one }}</p>
        </div>
        <p class="subtitle">{{ sub }}</p>
        <img :src="img_dentistry" alt="" class="banner" />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      img_dentistry:require('../../../images/about/Dentistry.jpg'),
      img_one: require("../../../images/about/history.jpg"),
      sub_one: `Our company’s main goal is supplying the best to our customers. 
      With this goal our company has been established in 2019 by a group of professionals and surgeons. One of worlds economic hubs,  London has been chosen to be our head office location. In a short time, we have gathered marketing sales teams in Tashkent(Uzbekistan) and Shymkent(Kazakhstan). `,
      subtitle: `In 2020, we have opened our representative offices. In the same year, U.S.IOL has signed partnership contract, meanwhile, Labtronics has become our partner company. Meanwhile, we have signed partnership agreements with a total of 45 public and private clinics, 3 opticians in Uzbekistan and 18 in Kazakhstan. In 2021, a few European and American distributor companies has been merged to our country, giving the opportunity to get in touch with our prospective companies directly.`,
      sub: `Since the establishment of our company, we have done more than 1000 surgeries on our patients, more than 5000 lenses have been distributed to our partner clinics  several laboratories has been equipped exclusively by us and prospective representative offices establishment plans has entered our future plans.   `,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/components/_vars.scss";
@import "@/styles/components/_mixins.scss";
.history {
  .container {
    .wrap {
      width: 100%;
      max-width: 1340px;
      padding: 0 20px;
      margin: 0 auto;
      // Media
      @include xxl {
        max-width: 100%;
        padding: 0;
      }

      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        // Media
        @include xxl {
          gap: 50px;
        }
        @include lg {
          flex-direction: column;
        }

        &.order {
          img {
            order: 1;
          }
          @include lg {
            order: 0;
          }
        }

        img {
          border-radius: 10px;
          width: 100%;
          max-width: 620px;
          height: 400px;
          // Media
          @include xl {
            max-width: 400px;
            height: 270px;
          }
          @include lg {
            max-width: 610px;
            height: 340px;
          }
          @include md {
            max-width: 600px;
            height: 270px;
          }
          @include sm {
            max-width: 100%;
            height: 225px;
          }
          @include media(375px) {
            max-width: 100%;
            height: 160px;
          }
        }

        .subtitle_flex {
          font-family: "Circe";
          font-weight: 400;
          font-size: 25px;
          line-height: 35px;
          // Media
          @include md {
            font-size: 20px;
            line-height: 25px;
          }
          @include sm {
            font-size: 18px;
            line-height: 25px;
          }
        }
      }

      .subtitle {
        font-family: "Circe";
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        margin: 30px 0;
        // Media
        @include md {
          font-size: 20px;
          line-height: 25px;
        }
        @include sm {
          font-size: 18px;
          line-height: 25px;
          margin: 15px 0;
        }
      }

      .banner {
        width: 100%;
        height: 300px;
        background: #c4c4c4;
        border-radius: 10px;
        margin-bottom: 50px;
        object-fit: cover;
        // background-position: top;
        // Media
        @include md{
          height: 200px;
        }
      }
    }
  }
}
</style>