<template>
  <section class="our-team">
    <div class="container">
      <div class="wrap">
        <h3 class="title">{{ title_one }}</h3>
        <div class="box">
          <div class="card" v-for="card in top_array" :key="card.img">
            <img :src="card.img" alt="person" />
            <h3 class="title_card">{{ card.title }}</h3>
            <p class="subtitle">{{ card.subtitle }}</p>
          </div>
        </div>
      </div>
      <div class="wrap">
        <h3 class="title">{{ title_two }}</h3>
        <div class="box">
          <div class="card" v-for="card in bottom_array" :key="card.img">
            <img :src="card.img" alt="person" />
            <h3 class="title_card">{{ card.title }}</h3>
            <p class="subtitle">{{ card.subtitle }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      title_one: "Команда Разработчиков",
      title_two: "Команда мед персонала  ",
      top_array: [
        {
          img: require("../../../images/about/person1.jpg"),
          title: "Абрамов карим",
          subtitle: "Веб-дизайнер",
        },
        {
          img: require("../../../images/about/person2.jpg"),
          title: "Малик курпатов",
          subtitle: "Веб-дизайнер",
        },
        {
          img: require("../../../images/about/person3.png"),
          title: "Диниил убитов",
          subtitle: "Веб-дизайнер",
        },
        {
          img: require("../../../images/about/person4.png"),
          title: "Куршавель мелодов",
          subtitle: "Веб-дизайнер",
        },
      ],
      bottom_array: [
        {
          img: require("../../../images/about/p1.png"),
          title: "Абрамов карим",
          subtitle: "Веб-дизайнер",
        },
        {
          img: require("../../../images/about/p2.png"),
          title: "Малик курпатов",
          subtitle: "Веб-Разработчик",
        },

        {
          img: require("../../../images/about/p3.png"),
          title: "Диниил убитов",
          subtitle: "Веб-Разработчик",
        },
        {
          img: require("../../../images/about/p4.png"),
          title: "Марина котова",
          subtitle: "Веб-Разработчик",
        },
        {
          img: require("../../../images/about/p1.png"),
          title: "Абрамов карим",
          subtitle: "Веб-дизайнер",
        },
        {
          img: require("../../../images/about/p2.png"),
          title: "Малик курпатов",
          subtitle: "Веб-Разработчик",
        },
        {
          img: require("../../../images/about/p3.png"),
          title: "Диниил убитов",
          subtitle: "Веб-Разработчик",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/components/_vars.scss";
@import "@/styles/components/_mixins.scss";
.our-team {
  font-family: "Circe";
  .container {
    .wrap {
      margin-bottom: 50px;
      .title {
        font-size: 35px;
        text-transform: uppercase;
        margin: 50px 0;
        // Media
        @include md {
          font-size: 25px;
          margin: 25px 0;
          text-align: center;
        }
      }

      .box {
        display: flex;
        flex-wrap: wrap;
        gap: 49px 20px;
        // Media
        @include lg {
          justify-content: center;
        }

        .card {
          img {
            width: 380px;
            height: 385px;

            // Media
            @include xxl {
              width: 340px;
              height: 350px;
            }
            @include xl {
              width: 283px;
              height: 290px;
            }
            @include md {
              width: 220px;
              height: 230px;
            }
            @include sm {
              width: 260px;
              height: 270px;
            }
          }

          .title_card {
            font-size: 25px;
            text-transform: uppercase;
            padding: 30px 0 10px;
            // Media
            @include md {
              font-size: 20px;
              padding: 15px 0 10px;
            }
          }

          .subtitle {
            font-size: 18px;
            // Media
            @include sm {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
</style>